<app-header titulo="Date Time"></app-header>


<ion-content>
    <ion-list>
        <ion-item>
            <ion-label>Fecha y Hora</ion-label>
            <ion-datetime hour-cycle="h12" locale="en-GB"></ion-datetime>
        </ion-item>

        <ion-item>
            <ion-label>Readonly</ion-label>
            <ion-datetime
            min="2017-01-01"
            max="2017-01-01"
            value="2022-03-09">            
            </ion-datetime>
        </ion-item>

        <ion-item>
            <ion-label>Custom</ion-label>
            <ion-datetime
            min="2017-01-01"
            max="2017-01-01"
            value="2022-03-09">            
            </ion-datetime>
        </ion-item>


    </ion-list>
</ion-content>